@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-rotaract-cranberry: #d41367;
    --color-dark: #252525;
    --color-dark-blue: #020817;
    --color-light: #f8fafc;
    --color-countdownbg: #80838b;

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-color-1: var(--color-1);
    --color-color-2: var(--color-2);
    --color-color-3: var(--color-3);
    --color-color-4: var(--color-4);
    --color-color-5: var(--color-5);

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;
    --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite
        alternate;
    --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;

    --grid-template-columns-responsive-grid: repeat(
        auto-fill,
        minmax(250px, 1fr)
    );
    --grid-template-columns-responsive-grid-sm: repeat(
        auto-fill,
        minmax(150px, 1fr)
    );

    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--radix-accordion-content-height);
        }
    }
    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }
        to {
            height: 0;
        }
    }
    @keyframes aurora-border {
        0%,
        100% {
            border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
        }
        25% {
            border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
        }
        50% {
            border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
        }
        75% {
            border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
        }
    }
    @keyframes aurora-1 {
        0%,
        100% {
            top: 0;
            right: 0;
        }
        50% {
            top: 50%;
            right: 25%;
        }
        75% {
            top: 25%;
            right: 50%;
        }
    }
    @keyframes aurora-2 {
        0%,
        100% {
            top: 0;
            left: 0;
        }
        60% {
            top: 75%;
            left: 25%;
        }
        85% {
            top: 50%;
            left: 50%;
        }
    }
    @keyframes aurora-3 {
        0%,
        100% {
            bottom: 0;
            left: 0;
        }
        40% {
            bottom: 50%;
            left: 25%;
        }
        65% {
            bottom: 25%;
            left: 50%;
        }
    }
    @keyframes aurora-4 {
        0%,
        100% {
            bottom: 0;
            right: 0;
        }
        50% {
            bottom: 25%;
            right: 40%;
        }
        90% {
            bottom: 50%;
            right: 25%;
        }
    }
    @keyframes shimmer-slide {
        to {
            transform: translate(calc(100cqw - 100%), 0);
        }
    }
    @keyframes spin-around {
        0% {
            transform: translateZ(0) rotate(0);
        }
        15%,
        35% {
            transform: translateZ(0) rotate(90deg);
        }
        65%,
        85% {
            transform: translateZ(0) rotate(270deg);
        }
        100% {
            transform: translateZ(0) rotate(360deg);
        }
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
    @media (width >= --theme(--breakpoint-sm)) {
        max-width: none;
    }
    @media (width >= 1400px) {
        max-width: 1400px;
    }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

:root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 84% 4.9%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 84% 4.9%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 84% 4.9%);

    --primary: hsl(222.2 47.4% 11.2%);
    --primary-foreground: hsl(210 40% 98%);

    --secondary: hsl(210 40% 96.1%);
    --secondary-foreground: hsl(222.2 47.4% 11.2%);

    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);

    --accent: hsl(210 40% 96.1%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(210 40% 98%);

    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);
    --ring: hsl(222.2 84% 4.9%);

    --radius: 0.5rem;

    --color-1: hsl(0 100% 63%);

    --color-2: hsl(270 100% 63%);

    --color-3: hsl(210 100% 63%);

    --color-4: hsl(195 100% 63%);

    --color-5: hsl(90 100% 63%);
}

.dark {
    --background: hsl(222.2 84% 4.9%);
    --foreground: hsl(210 40% 98%);

    --card: hsl(222.2 84% 4.9%);
    --card-foreground: hsl(210 40% 98%);

    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground: hsl(210 40% 98%);

    --primary: hsl(210 40% 98%);
    --primary-foreground: hsl(222.2 47.4% 11.2%);

    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%);

    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215 20.2% 65.1%);

    --accent: hsl(217.2 32.6% 17.5%);
    --accent-foreground: hsl(210 40% 98%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(210 40% 98%);

    --border: hsl(217.2 32.6% 17.5%);
    --input: hsl(217.2 32.6% 17.5%);
    --ring: hsl(212.7 26.8% 83.9%);
    --color-1: hsl(0 100% 63%);
    --color-2: hsl(270 100% 63%);
    --color-3: hsl(210 100% 63%);
    --color-4: hsl(195 100% 63%);
    --color-5: hsl(90 100% 63%);
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.swiper-pagination-bullet {
    background: hsl(0, 0%, 50%) !important;
}

.swiper-pagination-bullet-active {
    background-color: #d41367 !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: hsla(0, 100%, 0%, 0.2);
}
.dark ::-webkit-scrollbar-track {
    background-color: hsla(0, 100%, 100%, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: #d41367;
    border-radius: 100vw;
}
