.w-md-editor {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
}

.wmde-markdown {
    background-color: var(--background);
    color: hsl(var(--foreground));
    padding: 8px;
    border: solid 1px hsl(var(--border));
    border-radius: var(--radius);
}
