.w-md-editor {
    background-color: var(--background);
    color: var(--foreground);
}

.wmde-markdown {
    background-color: var(--background);
    color: var(--foreground);
    padding: 8px;
    border: solid 1px var(--border);
    border-radius: var(--radius);
}
