.multi-select {
    .multi-select-control {
        border-color: var(--input);
        background-color: var(--background);
        color: var(--muted-foreground);
    }

    .multi-select-placeholder {
        color: var(--muted-foreground);
        font-size: 14px;
    }

    .multi-select-indicator-separator {
        background-color: var(--muted-foreground);
    }

    .multi-select-indicator-container {
        color: var(--muted-foreground);
    }

    .multi-select-option {
        color: var(--foreground);
    }

    .css-d7l1ni-option {
        background-color: var(--accent);
    }

    .multi-select-input {
        color: var(--muted-foreground);
        font-size: 14px;
    }

    .multi-select-multivalue {
        background-color: var(--foreground);
        color: var(--background);

        .css-wsp0cs-MultiValueGeneric {
            color: inherit;
        }

        [role='button']:hover {
            background-color: var(--accent);
            color: var(--accent-foreground);
        }
    }

    .multi-select-menu {
        background-color: var(--background);
    }

    .multi-select-value-container {
        max-height: 100px;
        overflow: auto;
    }
}

.css-t3ipsp-control,
.css-t3ipsp-control:hover {
    border: 0;
    border-color: unset !important;
    box-shadow: 0 0 0 1px var(--ring) !important;
}
