.project-article-body {
    h2 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 8px;
        margin-top: 32px;
    }

    p {
        color: var(--muted-foreground);
        font-size: 20px;
    }

    img {
        border-radius: var(--radius);
        margin-bottom: 32px;
    }
}
